.movies {
  background-color: #d4d4d4;
  border-radius: 10px;
  cursor: pointer;
  font-size: small;
  height: 550px;
  margin: 20px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.movies:hover {
  transform: scale(1.05);
}
