.movies {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #231557 100%
  );
  border-radius: 10px;
  cursor: pointer;
  font-size: small;
  height: 550px;
  margin: 20px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.movies:hover {
  transform: scale(1.05);
}

h1 {
  color: #eee60d;
  font-size: 24px;
}
