.title {
  color: #eee60d;
  font-size: 80px;
  font-family: "Trebuchet MS", sans-serif;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.nav-bar {
  background-color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rancid {
  height: 5em;
  width: 7em;
}
